.secaoDestaques {
  background-color: #F7F4F4;
  text-align: center;
}

.secaoDestaques-destaque {
  margin-bottom: 1em;
  padding: 1em;
  transition:  .3s;
  text-align: left;
}

.secaoDestaques-link {
  color: inherit;
  text-decoration: none;
  max-width: 400px;
  display: inline-block;
  margin: 1em .5em;
}

.secaoDestaques-link:hover,
.secaoDestaques-link:focus {
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3); 
  outline: 0;
}

.secaoDestaques-destaque-titulo {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.2em
}

.secaoDestaques-destaque-img {
  width: 100%;
  display: block;
}

.secaoDestaques-form label {
  display: inline-block;
}

.secaoDestaques-form-botao {
  max-width: 20em;
  margin-top: 1em;
  display: block;
  margin: 0 auto;
  background: transparent;
  color: #EB5757;
  border: 1px solid #EB5757;
}

.secaoDestaques-form-botao:hover,
.secaoDestaques-form-botao:focus {
  color: #fff;
  background-color: #B72E2E;
}

.destaque-img{
  width: 272px;
  height: 133.4px;
}

@media (max-width: 830px) {

  .container-div{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .destaque-img{
    width: 303px;
    height: 147.61px;
  }

}

/*

.secaoDestaques-checkboxFake {
display: inline-blaock;
}
*/

